#title{
    font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -50%);
  z-index: 2;
      text-align: center;
    color: rgb(166, 29, 150);
    font-size: xx-large;
}

#title p {
   font-size:x-large;
   text-shadow: 4px;
   color: rgb(154, 62, 143);
}
#hero {
    height: 100vh;
    width: 100%;
    background-image: url('https://wallpapers.com/images/hd/spa-background-0l1cg6s9dyj3ynwm.jpg');
    background-size: 1920px 1080px;
    background-position: center;
    background-size: cover;
    filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#candle1 {
    width: 50%;
}
#Products{
     height: 100%;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px ;
    padding-top: 40px;
    background-color: rgb(229, 157, 239);
}

.card-title{
    font-size: 40px;
    color: rgb(38, 32, 43);
font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: rgba(204, 192, 176, 0.379);
}
.card-text{
    color: rgb(149, 10, 128);
    font-weight: 500;
    font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: antiquewhite;

}
#btn1{
    color: rgb(208, 45, 229);
    font: size 10px; 
    font-weight:500 ;
      font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#btn2{
      color: rgb(221, 145, 232);
    font: size 10px; 
    font-weight:500 ;
      font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Responsive styles using media queries */

/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-custom {
        padding: 8px;
    }

    .navbar-custom .navbar-brand {
        font-size: 1.25rem;
    }

    .navbar-custom .navbar-nav .nav-link {
        font-size: 0.875rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-custom {
        padding: 12px;
    }

    .navbar-custom .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-custom .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-custom {
        padding: 15px;
    }

    .navbar-custom .navbar-brand {
        font-size: 1.75rem;
    }

    .navbar-custom .navbar-nav .nav-link {
        font-size: 1.125rem;
    }
}
/*-------------------------footer----------------------*/

.footer {
    background-color: #570c79;
    color: #ffffff;
    padding: 20px 0;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #ffffff;
}
.footer .social-icons a:hover {
    color: #dcdcdc;
}


.test{
    background-color: lightblue;
    top: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
}

i{
    cursor: pointer;
}

.icons i {
    font-size: 20px;
    color: rgb(30, 48, 80);
}
.icons i:hover {
    color: rgb(162, 14, 112);
}
